* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*.html-mobile-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%; 
  background: url('./image/pexels-karolina-grabowska-4041285.jpg') no-repeat; 
  background-size: 100% 100%;
}*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #bdbdbd;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a {
  color: #d3a7ad;
  text-decoration: none;
}

a:hover {
  background-color: #d3a7ad;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg::before {
  content: "";
  background-image: url("./image/pexels-jess-bailey-designs-1167051.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
  min-height: 100%;
}

.bg.welcome::before {
  content: "";
  background-image: url("./image/pexels-karolina-grabowska-4041285.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.38;
  min-height: 100%;
}

.main-container {
  min-height: 100vh;
  position: relative;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-width-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 85%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

.logo a:hover {
  color: #fff;
  background-color: transparent;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  display: block;
  list-style: none;
}

.nav-link a {
  display: block;
  padding: 3em 2em;
  font-weight: 700;
}

.nav-link .sub {
  position: absolute;
  display: none;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 180px;
  text-align: center;
  left: 0;
}

.nav-link .sub.larger {
  width: 220px;
  left: -50%;
}

.nav-link .sub a {
  padding: 1em;
}

ul li:hover ul.sub {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* Display the dropdown */
}

ul li ul.sub li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 180px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer {
  font-weight: 700;
  cursor: pointer;
}

.welcome-container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 3.5em;
  color: #691844;
}

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 20vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.5em;
  font-size: 5em;
  font-weight: 700;
  font-style: italic;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
  align-items: center;
  min-height: 30em;
  margin-top: 1em;
}

.brand-text {
  font-size: 1.5em;
  line-height: 1.8em;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.brand-text::before {
  content: '';
  shape-outside: polygon(0 0, 0 100px, 100px 300px);
  width: 100%;
  height: 400px;
  float: left;
  opacity: .2;
}

.big-box {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.big-box.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.big-box .box1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.big-box .box1 img {
  max-height: 80vh;
}

.big-box .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big-box .box2 p {
  padding-top: 1em;
  line-height: 1.5;
}

@media screen and (max-width: 1300px) {
  .larger {
    left: 10%;
  }
  .larger > li > a {
    font-size: 80%;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 70%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .welcome-container {
    max-width: 100%;
    margin: 1em;
  }
  .welcome-container .welcome-text {
    min-height: 10vh;
    padding: 0;
  }
  .welcome-container .section-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome-container .brand-text::before {
    display: none;
  }
  .welcome-container .brand-text {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-width-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-width-container .line {
    width: 30px;
    height: 3px;
    background-color: #bdbdbd;
    margin: 5px;
  }
  .nav-width-container .hamburger {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .nav-width-container .hamburger:hover {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .nav-width-container .nav-links, .nav-width-container .sub {
    position: fixed;
    overflow: hidden;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    background-color: #757575;
    height: 110vh;
    width: 100%;
    top: -10vh;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 50% -10%);
            clip-path: circle(100px at 50% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-width-container .nav-links .larger, .nav-width-container .nav-links .sub, .nav-width-container .sub .larger, .nav-width-container .sub .sub {
    left: 0;
    width: 220px;
    top: -5%;
  }
  .nav-width-container .nav-links.open, .nav-width-container .nav-links .sub, .nav-width-container .sub.open, .nav-width-container .sub .sub {
    -webkit-clip-path: circle(1300px at 50% -10%);
            clip-path: circle(1300px at 50% -10%);
    pointer-events: all;
    font-size: 80%;
  }
  .nav-width-container .nav-links .nav-link a, .nav-width-container .sub .nav-link a {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */