* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-column {
  margin: 0 auto;
  width: 600px;
  border: 1px solid #000;
}

h1,
.quote-box {
  font-family: 'Abril Fatface', cursive;
}

p {
  font-family: 'Concert One', cursive;
}

nav {
  display: flex;s
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, gray , black);
  justify-content: center;
  font-family: 'Concert One', cursive;
}

a {
  margin: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.hero-box {
  display: flex;
  margin-bottom: 30px;
}

.hero-img { 
  position: relative;
  
 }

.hero-txt {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.anakin {
  font-size: 55px;
}

img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  object-position: 50%;
}

.hero-bio {
  flex-grow: 4;
  font-size: 15px;
  padding: 20px;
  line-height: 25px;
  text-align: justify;
  font-family: 'Noto Sans', sans-serif;
}

ul {
  list-style: square;
  margin: 15px;
  margin-left: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.hero-bio ul {
  margin: 15px;
  margin-left: 20px;
}

.achievements-box,
.experience-box,
.training-box {
  display: flex;
}

.quote-box {
  position: relative;
  flex-grow: 1;
  width: 250px;
  height: 300px;
  background-color: #444;
}

/*.txt-box {
  flex-grow: 4;
}*/

div.quote-box {
  padding-right: 20px;
}

.quote-box::before {
  content: '“';
  position: absolute;
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 80px;
}

.quote-first,
.quote-second,
.quote-third {
  font-size: 40px;
  color: #fff;
  margin: 40px 30px;
}

h2 {
  margin: 30px 10px;
  text-transform: uppercase;
}

.header-no-subtitle {
  margin: 0 10px 20px;
  line-height: 25px;
}

.txt-box p {
  margin: 0 10px 30px;
  font-size: 15px;
}

.quote-second {
  font-size: 35px;
}

.subtitle {
  margin-bottom: 0;
}

p.subtitle-parag {
  font-family: 'Merriweather', serif;
  margin-bottom: 10px;
}

.txt-box ul {
  font-size: 13px;
  margin-left: 45px;
  margin-bottom: 20px;
}

.margin-list {
  margin-bottom: 30px;
}

div.higher-quote-box {
  height: 510px;
  width: 250px;
  padding-right: 40px;
  background: #444;
}